<nav ng-class="{'nav-hidden': !menu.showNav, 'menu-fixed-no-scroll': (menu.noScroll && menu.collapsed)}" id="menu-fixed" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" id="navbar-btn" ng-click="menu.updateOnClick()" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<p class="navbar-brand my-brand">SaYs</p>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav my-nav">
				<li class="my-nav-item" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a ui-sref="search" ui-sref-active="active">Search</a></li>
				<li class="my-nav-item" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" id="video-tab" ng-if="menu.videoIdObj.videoId"><a ui-sref="video({videoId: menu.videoIdObj.videoId})" ui-sref-active="active">Video Player</a></li>
				<li class="my-nav-item" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a ui-sref="playlist" ui-sref-active="active">My Saved Content</a></li>
				<li class="my-nav-item" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a ui-sref="about" ui-sref-active="active">About</a></li>
			</ul>
		</div>
	</div>
</nav>





