#about {
	margin: 1em 2em;
	#about-intro {
		margin: 2em 0;
	}
	#about-guide {
		h2 {
			margin-bottom: 0.5em;
			font-size: 2em;
		}
	}

	#about-footer {
		border-top: 1px solid $border-grey;
		margin-top: 2em;
		padding: 2em;
		text-align: center;
	}
}

@media screen and ($tablet){
	#about {
		font-size: 1em;
		margin-left: 4em;
		margin-right: 4em;
	}
}