<div id="playlist">

	<!-- Saved Videos Section -->

	<div class="playlist-section-header">
		<h2>Saved Videos</h2>
		<button class="btn btn-default btn-play-toggle" ng-click="playlist.collapsed.videosCollapsed = !playlist.collapsed.videosCollapsed">
			<span class="glyphicon glyphicon-triangle-bottom my-toggle-arrow" ng-if="playlist.collapsed.videosCollapsed"></span>
			<span class="glyphicon glyphicon-triangle-top my-toggle-arrow" ng-if="!playlist.collapsed.videosCollapsed"></span>
		</button>
	</div>
	<div class="content-container" id="video-items-container" ng-if="playlist.items.length" uib-collapse="playlist.collapsed.videosCollapsed">

		<!-- For Larger Viewports -->
	
		<div class="sort-filter-group video-sort-buttons">
			<h3 class="sort-buttons-header">Sort By:</h3>
			<div class="btn-group" role="group" aria-label="...">
				<button class="btn btn-default btn-sort-orig" ng-click="playlist.sortVideos('name')">
					Video
					<span ng-if="!playlist.videosReverse && playlist.videosPredicate === 'name'" class="glyphicon glyphicon-triangle-top"></span>
					<span ng-if="playlist.videosReverse && playlist.videosPredicate === 'name'" class="glyphicon glyphicon-triangle-bottom"></span>
				</button>
				<button class="btn btn-default btn-sort-orig" ng-click="playlist.sortVideos('content.snippet.channelTitle')">
					Channel
					<span ng-if="!playlist.videosReverse && playlist.videosPredicate === 'content.snippet.channelTitle'" class="glyphicon glyphicon-triangle-top"></span>
					<span ng-if="playlist.videosReverse && playlist.videosPredicate === 'content.snippet.channelTitle'" class="glyphicon glyphicon-triangle-bottom"></span>
				</button>
				<button class="btn btn-default btn-sort-orig" ng-click="playlist.sortVideos('content.dateAdded')">
					Added
					<span ng-if="!playlist.videosReverse && playlist.videosPredicate === 'content.dateAdded'" class="glyphicon glyphicon-triangle-top"></span>
					<span ng-if="playlist.videosReverse && playlist.videosPredicate === 'content.dateAdded'" class="glyphicon glyphicon-triangle-bottom"></span>
				</button>
				<button class="btn btn-default btn-sort-orig" ng-click="playlist.sortVideos('content.snippet.publishedAt || content.datePublished')">
					Published
					<span ng-if="!playlist.videosReverse && playlist.videosPredicate === 'content.snippet.publishedAt || content.datePublished'" class="glyphicon glyphicon-triangle-top"></span>
					<span ng-if="playlist.videosReverse && playlist.videosPredicate === 'content.snippet.publishedAt || content.datePublished'" class="glyphicon glyphicon-triangle-bottom"></span>
				</button>
			</div>
		</div>

		<!-- For Smaller Viewports -->

		<div class="sort-filter-group sort-buttons-mobile">
			<h3 class="sort-filter-header sort-buttons-header">Sort By:</h3>
			<button class="btn btn-default btn-play-toggle" ng-click="playlist.collapsed.videosSortCollapsed = !playlist.collapsed.videosSortCollapsed">
				<span class="glyphicon glyphicon-triangle-bottom my-toggle-arrow-sm" ng-if="playlist.collapsed.videosSortCollapsed"></span>
				<span class="glyphicon glyphicon-triangle-top my-toggle-arrow-sm" ng-if="!playlist.collapsed.videosSortCollapsed"></span>
			</button>
			<div class="buttons-mobile-container" uib-collapse="playlist.collapsed.videosSortCollapsed">
				<div class="btn-group" role="group" aria-label="...">
					<div class="sort-mobile-sub">
						<button class="btn btn-default btn-block" ng-click="playlist.sortVideos('name')">
							Video
							<span ng-if="!playlist.videosReverse && playlist.videosPredicate === 'name'" class="glyphicon glyphicon-triangle-top"></span>
							<span ng-if="playlist.videosReverse && playlist.videosPredicate === 'name'" class="glyphicon glyphicon-triangle-bottom"></span>
						</button>
						<button class="btn btn-default btn-block" ng-click="playlist.sortVideos('content.snippet.channelTitle')">
							Channel
							<span ng-if="!playlist.videosReverse && playlist.videosPredicate === 'content.snippet.channelTitle'" class="glyphicon glyphicon-triangle-top"></span>
							<span ng-if="playlist.videosReverse && playlist.videosPredicate === 'content.snippet.channelTitle'" class="glyphicon glyphicon-triangle-bottom"></span>
						</button>
					</div>
					<div class="sort-mobile-sub">
						<button class="btn btn-default btn-block" ng-click="playlist.sortVideos('content.dateAdded')">
							Added
							<span ng-if="!playlist.videosReverse && playlist.videosPredicate === 'content.dateAdded'" class="glyphicon glyphicon-triangle-top"></span>
							<span ng-if="playlist.videosReverse && playlist.videosPredicate === 'content.dateAdded'" class="glyphicon glyphicon-triangle-bottom"></span>
						</button>
						<button class="btn btn-default btn-block" ng-click="playlist.sortVideos('content.snippet.publishedAt || content.datePublished')">
							Published
							<span ng-if="!playlist.videosReverse && playlist.videosPredicate === 'content.snippet.publishedAt || content.datePublished'" class="glyphicon glyphicon-triangle-top"></span>
							<span ng-if="playlist.videosReverse && playlist.videosPredicate === 'content.snippet.publishedAt || content.datePublished'" class="glyphicon glyphicon-triangle-bottom"></span>
						</button>
					</div>
				</div>
			</div>
		</div>

		<!--  -->

		<!-- For Larger Viewports -->

		<div class="sort-filter-group video-filter-buttons filter-inputs">
			<h3 class="filter-buttons-header">Filter By:</h3>
			<div class="filter-input-group filter-input-group-keyword">
				<label class="filt-label" for="">Keyword:</label>
				<input type="text" class="form-control" ng-model="playlist.videoFilter.keyword" placeholder="keyword..">
			</div>
			<div class="filter-input-group">
				<label class="filt-label" for="">Added After:</label>
				<input class="form-control" ng-model="playlist.videoFilter.addedAfter" type="date">
			</div>
			<div class="filter-input-group">
				<label class="filt-label" for="">Added Before:</label>
				<input class="form-control" ng-model="playlist.videoFilter.addedBefore" type="date">
			</div>
		</div>

		<!--  -->

		<!-- For Smaller Viewports -->

		<div class="sort-filter-group filter-buttons-mobile">
			<h3 class="sort-filter-header filter-buttons-header">Filter By:</h3>
			<button class="btn btn-default btn-play-toggle" ng-click="playlist.collapsed.videosFilterCollapsed = !playlist.collapsed.videosFilterCollapsed">
				<span class="glyphicon glyphicon-triangle-bottom my-toggle-arrow-sm" ng-if="playlist.collapsed.videosFilterCollapsed"></span>
				<span class="glyphicon glyphicon-triangle-top my-toggle-arrow-sm" ng-if="!playlist.collapsed.videosFilterCollapsed"></span>
			</button>
			<div class="buttons-mobile-container" uib-collapse="playlist.collapsed.videosFilterCollapsed">
				<div class="filter-input-group filter-input-group-keyword">
					<label class="filt-label">Keyword:</label>
					<input type="text" class="form-control" ng-model="playlist.videoFilter.keyword" placeholder="keyword..">
				</div>
				<div class="filter-input-group">
					<label class="filt-label" for="">Added After:</label>
					<input class="form-control" ng-model="playlist.videoFilter.addedAfter" type="date">
				</div>
				<div class="filter-input-group">
					<label class="filt-label" for="">Added Before:</label>
					<input class="form-control" ng-model="playlist.videoFilter.addedBefore" type="date">
				</div>
			</div>
		</div>

		<!--  -->

		<div class="toggle-all-container">
			<div class="btn-group" role="group" aria-label="...">
				<button class="btn btn-default btn-toggle-all" ng-click="playlist.openAll(playlist.items)">Open All</button>
				<button class="btn btn-default btn-toggle-all" ng-click="playlist.closeAll(playlist.items)">Close All</button>
			</div>
		</div>
		<uib-accordion close-others="false">
			<uib-accordion-group ng-repeat="item in playlist.items | orderBy:playlist.videosPredicate:playlist.videosReverse | filter:playlist.videoFilter.keyword | filter:playlist.addedAfterVideos | filter:playlist.addedBeforeVideos track by item.name" is-open="item.state">
				<uib-accordion-heading>
					{{ item.content.name || item.content.snippet.title || item.name }}
				</uib-accordion-heading>
				<div class="row">
					<div class="col-md-2 playlist-div">
						<a ng-click="playlist.setVideoId(item.content.id.videoId || item.content.id)" ui-sref="video({videoId: (item.content.id.videoId || item.content.id)})"><img class="my-thumbnail" ng-src="{{item.content.thumb || item.content.snippet.thumbnails.default.url}}" alt="image"></a>
					</div>
					<div class="col-md-8 playlist-div">
						<p class="emph">{{ item.content.name || item.content.snippet.title || item.name }}</p>
						<p><span class="bold">CHANNEL:</span> {{ item.content.snippet.channelTitle }}</p><p><span class="bold">ADDED:</span> {{ item.content.dateAdded | date : short }}</p>
						<p><span class="bold">PUBLISHED:</span> {{ item.content.datePublished || item.content.snippet.publishedAt | date : short }}</p>
					</div>
					<div class="col-md-2 playlist-div playlist-btn-group">
						<button class="btn btn-warning" ng-click="playlist.clearItem(item)">Remove</button>
					</div>
				</div>
			</uib-accordion-group>
		</uib-accordion>
		<button ng-click="playlist.clearAllVideos()" class="btn btn-danger btn-playlist-clear">Clear Videos</button>
	</div>
	<p ng-if="!playlist.items.length">No saved videos present. See the "About" page for more info on how to save video.</p>

	<!-- Saved Searches Section -->

	<div class="playlist-section-header">
		<h2>Saved Searches</h2>
		<button class="btn btn-default btn-play-toggle" ng-click="playlist.collapsed.searchesCollapsed = !playlist.collapsed.searchesCollapsed">
			<span class="glyphicon glyphicon-triangle-bottom my-toggle-arrow" ng-if="playlist.collapsed.searchesCollapsed"></span>
			<span class="glyphicon glyphicon-triangle-top my-toggle-arrow" ng-if="!playlist.collapsed.searchesCollapsed"></span>
		</button>
	</div>
	<div class="content-container" id="past-search-container" ng-if="playlist.pastSearches.length" uib-collapse="playlist.collapsed.searchesCollapsed">

		<!-- For Larger Viewports -->

		<div class="sort-filter-group search-sort-buttons">
			<h3 class="sort-filter-header">Sort By:</h3>
			<div class="btn-group btn-group-srt" role="group" aria-label="...">
				<button class="btn btn-default" ng-click="playlist.sortSearches('name')">
					Name
					<span ng-if="!playlist.searchesReverse && playlist.searchesPredicate === 'name'" class="glyphicon glyphicon-triangle-top"></span>
					<span ng-if="playlist.searchesReverse && playlist.searchesPredicate === 'name'" class="glyphicon glyphicon-triangle-bottom"></span>
				</button>
				<button class="btn btn-default" ng-click="playlist.sortSearches('date')">
					Added
					<span ng-if="!playlist.searchesReverse && playlist.searchesPredicate === 'date'" class="glyphicon glyphicon-triangle-top"></span>
					<span ng-if="playlist.searchesReverse && playlist.searchesPredicate === 'date'" class="glyphicon glyphicon-triangle-bottom"></span>
				</button>
			</div>
		</div>

		<!--  -->

		<!-- For Smaller Viewports -->

		<div class="sort-filter-group sort-buttons-mobile">
			<h3 class="sort-filter-header">Sort By:</h3>
			<button class="btn btn-default btn-play-toggle" ng-click="playlist.collapsed.searchesSortCollapsed = !playlist.collapsed.searchesSortCollapsed">
				<span class="glyphicon glyphicon-triangle-bottom my-toggle-arrow-sm" ng-if="playlist.collapsed.searchesSortCollapsed"></span>
				<span class="glyphicon glyphicon-triangle-top my-toggle-arrow-sm" ng-if="!playlist.collapsed.searchesSortCollapsed"></span>
			</button>
			<div class="buttons-mobile-container" uib-collapse="playlist.collapsed.searchesSortCollapsed">
				<div class="btn-group btn-group-srt" role="group" aria-label="...">
					<button class="btn btn-default btn-block" ng-click="playlist.sortSearches('name')">
						Name
						<span ng-if="!playlist.searchesReverse && playlist.searchesPredicate === 'name'" class="glyphicon glyphicon-triangle-top"></span>
						<span ng-if="playlist.searchesReverse && playlist.searchesPredicate === 'name'" class="glyphicon glyphicon-triangle-bottom"></span>
					</button>
					<button class="btn btn-default btn-block" ng-click="playlist.sortSearches('date')">
						Added
						<span ng-if="!playlist.searchesReverse && playlist.searchesPredicate === 'date'" class="glyphicon glyphicon-triangle-top"></span>
						<span ng-if="playlist.searchesReverse && playlist.searchesPredicate === 'date'" class="glyphicon glyphicon-triangle-bottom"></span>
					</button>
				</div>
			</div>
		</div>

		<!--  -->

		<!-- For Larger Viewports -->

		<div class="sort-filter-group search-filter-buttons filter-inputs">
			<h3 class="filter-buttons-header">Filter By:</h3>
			<div class="filter-input-group filter-input-group-keyword">
				<label class="filt-label" for="">Keyword:</label>
				<input type="text" class="form-control" ng-model="playlist.searchesFilter.keyword" placeholder="keyword..">
			</div>
			<div class="filter-input-group">
				<label class="filt-label" for="">Added After:</label>
				<input class="form-control" ng-model="playlist.searchesFilter.addedAfter" type="date">
			</div>
			<div class="filter-input-group">
				<label class="filt-label" for="">Added Before:</label>
				<input class="form-control" ng-model="playlist.searchesFilter.addedBefore" type="date">
			</div>
		</div>

		<!--  -->

		<!-- For Smaller Viewports -->
		
		<div class="sort-filter-group filter-buttons-mobile">
			<h3 class="sort-filter-header filter-buttons-header">Filter By:</h3>
			<button class="btn btn-default btn-play-toggle" ng-click="playlist.collapsed.searchesFilterCollapsed = !playlist.collapsed.searchesFilterCollapsed">
				<span class="glyphicon glyphicon-triangle-bottom my-toggle-arrow-sm" ng-if="playlist.collapsed.searchesFilterCollapsed"></span>
				<span class="glyphicon glyphicon-triangle-top my-toggle-arrow-sm" ng-if="!playlist.collapsed.searchesFilterCollapsed"></span>
			</button>
			<div class="buttons-mobile-container" uib-collapse="playlist.collapsed.searchesFilterCollapsed">
				<div class="filter-input-group filter-input-group-keyword">
					<label class="filt-label" for="">Keyword:</label>
					<input type="text" class="form-control" ng-model="playlist.searchesFilter.keyword" placeholder="keyword..">
				</div>
				<div class="filter-input-group">
					<label class="filt-label" for="">Added After:</label>
					<input class="form-control" ng-model="playlist.searchesFilter.addedAfter" type="date">
				</div>
				<div class="filter-input-group">
					<label class="filt-label" for="">Added Before:</label>
					<input class="form-control" ng-model="playlist.searchesFilter.addedBefore" type="date">
				</div>
			</div>
		</div>

		<!--  -->

		<div class="toggle-all-container">
			<div class="btn-group btn-group-toggle-all" role="group" aria-label="...">
				<button class="btn btn-default btn-toggle-all" ng-click="playlist.openAll(playlist.pastSearches)">Open All</button>
				<button class="btn btn-default btn-toggle-all" ng-click="playlist.closeAll(playlist.pastSearches)">Close All</button>
			</div>
		</div>
		<uib-accordion close-others="false">
			<uib-accordion-group ng-repeat="search in playlist.pastSearches | orderBy:playlist.searchesPredicate:playlist.searchesReverse | filter:playlist.searchesFilter.keyword | filter:playlist.addedAfterSearches | filter:playlist.addedBeforeSearches  track by search.name" is-open="search.state">
				<uib-accordion-heading>
					{{ search.nameShrt || search.name }}
				</uib-accordion-heading>
				<div class="row">
					<div class="col-md-6">
						<p><span class="bold">CREATED:</span> {{ search.date | date : short }}</p>
					</div>
					<div class="col-md-6 playlist-btn-group">
						<button ng-click="playlist.grab(search)" class="btn btn-success">Grab!</button>
						<button ng-click="playlist.clear(search)" class="btn btn-warning">Remove</button>
					</div>
				</div>
			</uib-accordion-group>
		</uib-accordion>
		<button ng-click="playlist.clearAllSearches()" class="btn btn-danger btn-playlist-clear">Clear Searches</button>
	</div>
	<p ng-if="!playlist.pastSearches.length">No saved searches present. See the "About" page for more info on how to save searches.</p>
</div>


