<div id="playlist">
	<div class="playlist-section-header">
		<h2>Saved Videos</h2>
		<button class="btn btn-default btn-play-toggle" ng-click="playlist.videosCollapse = !playlist.videosCollapse">
			<span ng-if="playlist.videosCollapse">Expand</span>
			<span ng-if="!playlist.videosCollapse">Collapse</span>
		</button>
	</div>
	<div id="video-items-container" ng-if="playlist.items.length > 0" uib-collapse="playlist.videosCollapse">
		<div class="sort-buttons">
			<label>Sort By:</label>
			<div class="btn-group btn-group-srt" role="group" aria-label="...">
				<button class="btn btn-default" ng-click="playlist.sortVideos('name')">
					Name
					<span ng-if="!playlist.videosReverse && playlist.videosPredicate === 'name'" class="glyphicon glyphicon-triangle-top"></span>
					<span ng-if="playlist.videosReverse && playlist.videosPredicate === 'name'" class="glyphicon glyphicon-triangle-bottom"></span>
				</button>
				<button class="btn btn-default" ng-click="playlist.sortVideos('content.dateAdded')">
					Date Added
					<span ng-if="!playlist.videosReverse && playlist.videosPredicate === 'content.dateAdded'" class="glyphicon glyphicon-triangle-top"></span>
					<span ng-if="playlist.videosReverse && playlist.videosPredicate === 'content.dateAdded'" class="glyphicon glyphicon-triangle-bottom"></span>
				</button>
				<button class="btn btn-default" ng-click="playlist.sortVideos('content.snippet.publishedAt || content.datePublished')">
					Date Published
					<span ng-if="!playlist.videosReverse && playlist.videosPredicate === 'content.snippet.publishedAt || content.datePublished'" class="glyphicon glyphicon-triangle-top"></span>
					<span ng-if="playlist.videosReverse && playlist.videosPredicate === 'content.snippet.publishedAt || content.datePublished'" class="glyphicon glyphicon-triangle-bottom"></span>
				</button>
			</div>
		</div>
		<div class="filter-buttons">
			<label for="">Filter By:</label>
			<input type="text" class="form-control" ng-model="playlist.videoFilter.keyword" placeholder="keyword..">
			<label for="">Added After</label>
			<input class="form-control" ng-model="playlist.videoFilter.addedAfter" type="date">
			<label for="">Added Before</label>
			<input class="form-control" ng-model="playlist.videoFilter.addedBefore" type="date">
		</div>
		<div>
			<button class="btn btn-default btn-close-all" ng-click="playlist.closeAll(playlist.items)">Close All</button>
		</div>
		<uib-accordion close-others="false">
			<uib-accordion-group ng-repeat="item in playlist.items | orderBy:playlist.videosPredicate:playlist.videosReverse | filter:playlist.videoFilter.keyword | filter:playlist.addedAfterFilter | filter:playlist.addedBeforeFilter | filter:playlist.sampleFilter" is-open="item.state">
				<uib-accordion-heading>
					{{ item.content.name || item.content.snippet.title || item.name }}
				</uib-accordion-heading>
				<div class="row">
					<div class="col-md-2 playlist-div">
						<a ng-click="playlist.setVideoId(item.content.id.videoId || item.content.id)" ui-sref="video({videoId: (item.content.id.videoId || item.content.id)})"><img class="my-thumbnail" ng-src="{{item.content.thumb || item.content.snippet.thumbnails.default.url}}" alt="image"></a>
					</div>
					<div class="col-md-8 playlist-div">
						<p class="emph">{{ item.content.name || item.content.snippet.title || item.name }}</p>
						<p><span class="bold">ADDED:</span> {{ item.content.dateAdded | date : short }}</p>
						<p><span class="bold">PUBLISHED:</span> {{ item.content.datePublished || item.content.snippet.publishedAt | date : short }}</p>
					</div>
					<div class="col-md-2 playlist-div">
						<button class="btn btn-danger" ng-click="playlist.clearItem(item)">Remove</button>
					</div>
				</div>
			</uib-accordion-group>
		</uib-accordion>
		<button ng-click="playlist.clearAllVideos()" class="btn btn-danger btn-playlist-clear">Clear Videos</button>
	</div>
	<p ng-if="playlist.items.length === 0">No saved videos present. See the "About" page for more info on how to save video.</p>
	<div class="playlist-section-header">
		<h2>Saved Searches</h2>
		<button class="btn btn-default btn-play-toggle" ng-click="playlist.searchesCollapse = !playlist.searchesCollapse">
			<span ng-if="playlist.searchesCollapse">Expand</span>
			<span ng-if="!playlist.searchesCollapse">Collapse</span>
		</button>
	</div>
	<div id="past-search-container" ng-if="playlist.pastSearches.length > 0" uib-collapse="playlist.searchesCollapse">
		<div class="sort-buttons">
			<label>Sort By:</label>
			<div class="btn-group btn-group-srt" role="group" aria-label="...">
				<button class="btn btn-default" ng-click="playlist.sortSearches('name')">
					Name
					<span ng-if="!playlist.searchesReverse && playlist.searchesPredicate === 'name'" class="glyphicon glyphicon-triangle-top"></span>
					<span ng-if="playlist.searchesReverse && playlist.searchesPredicate === 'name'" class="glyphicon glyphicon-triangle-bottom"></span>
				</button>
				<button class="btn btn-default" ng-click="playlist.sortSearches('date')">
					Date Added
					<span ng-if="!playlist.searchesReverse && playlist.searchesPredicate === 'date'" class="glyphicon glyphicon-triangle-top"></span>
					<span ng-if="playlist.searchesReverse && playlist.searchesPredicate === 'date'" class="glyphicon glyphicon-triangle-bottom"></span>
				</button>
			</div>
		</div>
		<div>
			<button class="btn btn-default btn-close-all" ng-click="playlist.closeAll(playlist.pastSearches)">Close All</button>
		</div>
		<uib-accordion close-others="false">
			<uib-accordion-group ng-repeat="search in playlist.pastSearches | orderBy:playlist.searchesPredicate:playlist.searchesReverse" is-open="search.state">
				<uib-accordion-heading>
					{{ search.nameShrt || search.name }}
				</uib-accordion-heading>
				<div class="row">
					<div class="col-md-6">
						<p><span class="bold">CREATED:</span> {{ search.date | date : short }}</p>
					</div>
					<div class="col-md-6">
						<button ng-click="playlist.grab(search)" class="btn btn-success">Grab!</button>
						<button ng-click="playlist.clear(search)" class="btn btn-danger">Remove</button>
					</div>
				</div>
			</uib-accordion-group>
		</uib-accordion>
		<button ng-click="playlist.clearAllSearches()" class="btn btn-danger btn-playlist-clear">Clear Searches</button>
	</div>
	<p ng-if="playlist.pastSearches.length === 0">No saved searches present. See the "About" page for more info on how to save searches.</p>
</div>


