<div id="playlist">
	<h2>My Playlist</h2>
	<ul id="playlist-items">
		<li class="row" ng-repeat="item in playlist.items">
			<div class="col-md-2 playlist-div">
				<a ng-click="playlist.setVideoId(item.id)" ui-sref="video({videoId: item.content.id})"><img class="my-thumbnail" ng-src="{{item.content.thumb}}" alt="image"></a>
			</div>
			<div class="col-md-8 playlist-div">
				{{item.name}}		
			</div>
			<div class="col-md-2 playlist-div">
				<button class="btn btn-default" ng-click="playlist.clearItem(item)">Remove</button>
			</div>
		</li>
	</ul>
	<h2>Saved Searches</h2>
	<ul id="past-search-items" ng-if="playlist.pastSearches">
		<li class="row" ng-repeat="search in playlist.pastSearches">
			<div class="col-md-6">
				<p class="emph">{{ search.name }}</p>
				<p>{{ search.date | date : short }}</p>
			</div>
			<div class="col-md-6">
				<button ng-click="playlist.grab(search)" class="btn btn-default">Grab!</button>
				<button ng-click="playlist.clear(search)" class="btn btn-default">Remove</button>
			</div>
		</li>
	</ul>
	<button ng-click="playlist.clearAll()" class="btn btn-default btn-playlist-clear">Clear History</button>
</div>