<nav id="menu-fixed" class="navbar navbar-default navbar-fixed-top" ng-class="{'menu-fixed-no-scroll': menu.noScroll}">
	<div class="container-fluid">
		<div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" id="navbar-btn" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav nav-bar right">
				<li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a ui-sref="about" ui-sref-active="active">About</a></li>
				<li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" id="video-tab" ng-if="menu.videoActive"><a ui-sref="video({videoId: menu.videoId})" ui-sref-active="active">Video Player</a></li>
				<li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a ui-sref="playlist" ui-sref-active="active">My Saved Content</a></li>
				<li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a ui-sref="search" ui-sref-active="active">Search</a></li>
			</ul>
		</div>
	</div>
</nav>



