<form id="form-search" class="form-inline" ng-submit="search.submit(search.keyword)">
<!-- <div class="form-group"> -->
	
<!-- </div> -->
	<input type="text" class="form-control" ng-model="search.keyword" placeholder="Enter Search">
	<input type="submit" class="btn btn-default" value="Go!">
	<input ng-if="search.viewVideo" ng-click="search.toggleVideo()" type="button" class="btn btn-default" value="View Results">
</form>
<div ng-if="search.results && !search.viewVideo" id="results">
	<h2>We found {{ search.results.length }} results for {{ search.searchedKeyword }}</h2>
	<div class="row">
		<div class="col-md-6 result" ng-repeat="result in search.results">
			<div class="row">
				<div class="col-md-6">
					<h3>{{result.snippet.title}}</h3>
				</div>
				<div class="col-md-6">
					<a ng-click="search.toggleVideo()" ui-sref="video({videoId: result.id.videoId} )"><img ng-src="{{result.snippet.thumbnails.default.url}}" alt="image"></a>
				</div>
			</div>
		</div>
	</div>
</div>
