<form ng-submit="updateModal.ok(updateModal.apisObj)">
	<div class="modal-header">
		<h2>Hello {{ updateModal.currentUserName }}.</h2>
		<p>You can update your ID and API keys here.</p>
	</div>
	<div class="modal-body">
		<div>
			<div class="row">
				<div class="col-xs-4">
					<label for="">My ID:</label>
				</div>
				<div class="col-xs-8">
					<input class="form-control" type="text" ng-model="updateModal.apisObj.id" placeholder="John Do'h" required>
				</div>
			</div>
		</div>
			<div class="row">
				<div class="col-xs-4">
					<label for="">Google API Key: </label>
				</div>
				<div class="col-xs-8">
					<div class="row">
						<div class="col-xs-6">
							<input class="form-control" type="password" ng-model="updateModal.apisObj.googKey" placeholder="XXXXXX">
						</div>
						<div class="col-xs-6">
							<a target="_blank" href="https://developers.google.com/maps/documentation/javascript/">Get one here!</a>
						</div>
					</div>
				</div>
			</div>
			<p>If you plan on using Firebase, you <em>must</em> also declare a database corresponding with your API key.</p>
			<div>
				<div class="row">
					<div class="col-xs-4">
						<label for="">Firebase DB: </label>
					</div>
					<div class="col-xs-8">
						<div class="row">
							<div class="col-xs-6">
								<input class="form-control" type="text" ng-model="initModal.apisObj.fBaseDB" placeholder="i.e. burning-torch-898">
							</div>
							<div class="col-xs-6">
								<a target="_blank" href="https://console.firebase.google.com/">Find out more here!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col-xs-4">
						<label for="">Yandex Translate API Key:</label>
					</div>
					<div class="col-xs-8">
						<div class="row">
							<div class="col-xs-6">
								<input class="form-control" type="password" ng-model="updateModal.apisObj.translateKey" placeholder="XXXXXX">
							</div>
							<div class="col-xs-6">
								<a target="_blank" href="https://tech.yandex.com/translate/">Get one here!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="modal-footer">
		<button autofocus class="btn btn-primary" type="submit">Submit</button>
		<button class="btn btn-warning" type="button" ng-click="updateModal.cancel()">Cancel</button>
	</div>
</form>