<iframe width="640" height="390" ng-src="{{ source }}" frameborder="0"></iframe>
<div id="choices-wrapper">
	<div id="btn-choices" class="btn-group" role="group" aria-label="...">
	  <button id="video-small" ng-click="myVideo.goSmall()" type="button" class="btn btn-default">Small</button>
	  <button id="video-medium" ng-click="myVideo.goMed()" type="button" class="btn btn-default">Medium</button>
	  <button id="video-large" ng-click="myVideo.goLarge()" type="button" class="btn btn-default">Large</button>
	</div>
</div>