<div id="about">
	<p>This is the first incarnation of the Ultimate YouTube Searcher (so the word "ultimate" should be taken with a grain of salt!). The goal of this app is to allow the user to gain more freedom in searching for YouTube videos. It is designed to be more lightweight than vanilla YouTube, just as easy to use, but also more powerful when it comes to specifying search parameters.</p>
	<p>Goals for the (hopefully) not-too-distant future will be a more advanced search feature (obviously, and even more advanced than the vanilla search!) and implementation of a playlist feature where users can create a playlist and save it for later.</p>
	<p>This is a modest, one-person project, but I hope that all who use it will get the best experience possible. Enjoy!</p>
</div>