<h3 class="video-title">{{ video.item.snippet.title }}</h3>
<my-video></my-video>
<div class="remove-video-container" ng-if="video.isSaved">
<p>Remove saved video?</p>
<button class="btn btn-default" ng-click="video.clearItem(video.item)">Remove</button>
</div>
<p class="video-desc">{{ video.item.snippet.description }}</p>
<p>Published: <span class="emph">{{ video.item.snippet.publishedAt | date: mm/dd/yyyy }}</span></p>
<div class="channel-info">
	<p class="channel-title">Channel: <span class="emph"> {{ video.item.snippet.channelTitle }}</span></p>
	<button class="btn btn-default" ng-click="video.getChannel(video.item.snippet.channelId)">Filter</button>
</div>

