h1 {
  text-align: center; }

#form-search {
  margin: 1.5em 0.5em; }

#results h2, #results h3, #results a {
  text-align: center; }

#results .result {
  height: 9em;
  border: 2px solid black;
  border-radius: 0.5em; }
  #results .result h3 {
    font-size: 1.2em; }
  #results .result img {
    margin: 1em 2em; }

* {
  font-family: "Open Sans" sans-serif; }

.active {
  color: beige;
  background-color: grey;
  font-weight: bold; }

iframe {
  display: block;
  margin: 0 auto; }
