html, body, #container-main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fbfbfb; }

#about, #playlist, #video, #search {
  margin: 0 1em; }

.body-fixed-nav {
  padding-top: 40px; }

.content-container {
  border: 1px solid #E7E7E7;
  background-color: #F8F8F8;
  padding: 1em;
  margin: 1em;
  border-radius: 0.5em; }

@media screen and (min-width: 768px) {
  body #animate-view-container .animate-view #playlist, body #animate-view-container .animate-view #results-container {
    margin: 0 3em; } }

body {
  font-family: "Open Sans", sans-serif; }
  body .nav-tabs > li > .active {
    background-color: #f39c12;
    color: white;
    font-weight: bold; }
  body .emph {
    font-size: 1.2em; }
  body .bold {
    font-weight: 600; }

@media screen and (min-width: 1024px) {
  body #content, body #page-footer, body input {
    font-size: 1em; } }

#about {
  margin-top: 2.5em;
  margin-bottom: 10em; }
  #about #about-intro {
    margin: 2em 0; }
  #about #about-guide h2 {
    margin-bottom: 0.5em;
    font-size: 2em; }

@media screen and (min-width: 768px) {
  #about {
    font-size: 1em;
    margin-left: 1em;
    margin-right: 1em; } }

body #page-header #header-wrapper #mast-header {
  text-align: center;
  line-height: 1.4em;
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  padding: 1em;
  color: #fbfbfb;
  background-color: #27ae60;
  border-radius: 0.4em;
  position: relative;
  transition: 1s ease all; }

body #page-header #header-wrapper .header-tube {
  background-color: #fbfbfb;
  color: #27ae60;
  padding: 0 0.12em;
  margin-left: 0.06em;
  border-radius: 0.4em; }

body #page-header #header-wrapper .letter-separator {
  display: inline-block;
  width: 0.1em; }

body #page-header #header-wrapper #credit {
  text-align: right;
  margin: 2em;
  margin-right: 3em;
  font-weight: bold;
  position: relative;
  transition: 1s ease all; }

@media screen and (min-width: 525px) {
  body #page-header #header-wrapper #mast-header {
    line-height: 1em; } }

@media screen and (min-width: 768px) {
  body #page-header #header-wrapper #mast-header {
    font-size: 3em; } }

#header-menu {
  font-size: 0.7em; }
  #header-menu .navbar-nav > li > a {
    line-height: 28px; }
  #header-menu .navbar-nav > li .active {
    font-weight: 600; }
  #header-menu #menu-fixed {
    transition: 0.25s linear all;
    font-size: 1.3em; }
  #header-menu .menu-fixed-no-scroll {
    background-color: #FBFBFB;
    border-color: transparent; }

.nav > li > a {
  padding: 10px 8px; }

.tabs-adjust {
  padding-left: 15px; }

.my-nav-item {
  text-align: right; }

.my-brand {
  font-weight: bold;
  font-family: "Oswald";
  letter-spacing: 0.1em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  right: 0;
  z-index: -1; }

@media screen and (min-width: 364px) {
  #header-menu {
    font-size: 0.8em; } }

@media screen and (min-width: 768px) {
  #header-menu .my-nav, #header-menu .my-nav-item {
    float: none; }
  #header-menu .my-nav {
    text-align: center; }
  #header-menu .my-nav-item {
    display: inline-block; } }

@media screen and (min-width: 1024px) {
  #header-menu {
    font-size: 1em; } }

#playlist {
  padding-bottom: 6em; }
  #playlist .playlist-section-header {
    margin-top: 2em; }
  #playlist h2 {
    display: inline-block;
    font-size: 1.5em; }
  #playlist h3 {
    font-size: 1.2em; }
  #playlist #playlist-items, #playlist #past-search-items {
    list-style-type: decimal; }
    #playlist #playlist-items .playlist-div, #playlist #past-search-items .playlist-div {
      margin-bottom: 1em; }
      #playlist #playlist-items .playlist-div p, #playlist #past-search-items .playlist-div p {
        max-width: 20em; }
  #playlist .btn-playlist-clear, #playlist .video-sort-buttons, #playlist .search-sort-buttons {
    margin: 2em 0; }
  #playlist .sort-filter-group {
    padding-bottom: 1em;
    border-bottom: 1px solid #E7E7E7; }
  #playlist .playlist-btn-group {
    text-align: right; }
  #playlist .btn-play-toggle {
    vertical-align: middle;
    margin: 0 0 1em 1em; }
  #playlist .my-arrow-sm {
    font-size: 0.7em; }
  #playlist .video-sort-buttons, #playlist .video-filter-buttons, #playlist .search-sort-buttons, #playlist .search-filter-buttons {
    display: none; }
  #playlist .sort-buttons-mobile, #playlist .filter-buttons-mobile {
    display: block;
    text-align: center; }
  #playlist .sort-mobile-sub {
    display: inline-block; }
  #playlist .btn-toggle-all {
    margin-bottom: 1em; }
  #playlist .filter-inputs {
    margin: 1em 0;
    text-align: center; }
  #playlist .filt-label {
    display: block; }
  #playlist .toggle-all-container {
    padding-top: 1em;
    text-align: center; }
  #playlist .sort-filter-header {
    display: inline-block; }
  #playlist .saved-content-inner {
    padding: 1em;
    border-bottom: 1px solid #E7E7E7; }

@media screen and (min-width: 364px) {
  #playlist h2 {
    font-size: 2em; }
  #playlist h3 {
    font-size: 1.5em; }
  #playlist .filter-inputs .filter-input-group {
    display: inline-block; }
  #playlist .filter-inputs .filter-input-group-keyword {
    display: block; }
  #playlist .filter-inputs input {
    width: 12em;
    display: inline-block; } }

@media screen and (min-width: 403px) {
  #playlist .video-sort-buttons, #playlist .video-filter-buttons, #playlist .search-sort-buttons, #playlist .search-filter-buttons {
    display: block; }
  #playlist .sort-buttons-mobile, #playlist .filter-buttons-mobile {
    display: none; }
  #playlist .filter-buttons-header {
    text-align: left; } }

@media screen and (min-width: 768px) {
  #playlist .filter-inputs {
    text-align: left; }
    #playlist .filter-inputs .filter-input-group-keyword {
      display: inline-block; }
  #playlist .toggle-all-container {
    text-align: left; } }

#bar {
  text-align: center;
  margin: 3em 0; }

#form-search {
  margin: 2em; }
  #form-search #btn-go {
    height: 1.9em;
    font-size: 0.8em; }

.button-wrapper {
  margin: 1em; }

#map {
  width: 100%;
  height: 15em;
  display: block; }

.hidden {
  display: none; }

#form-basic-video-search,
#advanced-search {
  transition: 500ms linear all; }

#advanced-search {
  margin-bottom: 3em; }
  #advanced-search #video-search-bar {
    font-size: 1.5em; }
  #advanced-search .params-container {
    border: 1px solid #E7E7E7;
    background-color: #F8F8F8;
    display: inline-block;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em; }
  #advanced-search .btn-go {
    font-size: 2rem; }
  #advanced-search #form-advanced-video-search {
    display: inline; }
    #advanced-search #form-advanced-video-search .cluster {
      vertical-align: middle;
      display: inline-block; }
      #advanced-search #form-advanced-video-search .cluster .sub-cluster {
        margin: 1em 0; }
        #advanced-search #form-advanced-video-search .cluster .sub-cluster label {
          text-align: left; }
        #advanced-search #form-advanced-video-search .cluster .sub-cluster select {
          text-align: right; }
    #advanced-search #form-advanced-video-search #translate-wrapper {
      display: block; }
      #advanced-search #form-advanced-video-search #translate-wrapper #translate-select {
        margin: 0 auto;
        max-width: 11em; }
  #advanced-search #form-channel-search {
    margin-top: 1.5em; }
  #advanced-search #save-search-wrapper {
    margin: 1em; }
  #advanced-search #video-search-wrapper {
    margin-bottom: 1em; }
  #advanced-search .btn-clear-select, #advanced-search .btn-toggle-map {
    margin: 0 0 1em 0; }

.channel-filter img {
  width: 5em; }

.results {
  margin: 2em 0;
  transition: 1s linear all; }
  .results h2, .results h3, .results .result-dir, .results .results-img-container {
    text-align: center; }
  .results h2 {
    font-size: 1.5em; }
  .results .results-row {
    margin: 1em 0; }
  .results .result-mobile {
    display: block;
    padding-bottom: 2em; }
    .results .result-mobile p {
      text-align: center; }
  .results .result-desktop {
    display: none; }
  .results .inner-result {
    background-color: #ececec;
    box-shadow: 0px 1px 3px 0px;
    border-color: rgba(0, 0, 0, 0.58);
    border-width: 1px 2px 0 2px; }
    .results .inner-result .tit-descrip-container {
      z-index: 1; }
      .results .inner-result .tit-descrip-container .playlist-button-wrapper, .results .inner-result .tit-descrip-container .outer-wrapper {
        text-align: center; }
      .results .inner-result .tit-descrip-container .result-chan-wrapper {
        display: inline-block;
        padding: 1em;
        border: 1px solid white;
        border-radius: 0.5em; }
      .results .inner-result .tit-descrip-container .playlist-button-wrapper {
        margin: 1em; }
    .results .inner-result p {
      overflow-x: scroll; }
    .results .inner-result h3, .results .inner-result p {
      color: black; }
    .results .inner-result h3 {
      font-size: 1.4em;
      font-weight: bold; }
    .results .inner-result img {
      float: none;
      cursor: pointer;
      margin: 2em 0;
      height: 100%;
      width: 50%; }
  .results .last > .inner-result {
    border-bottom-width: 2px; }
  .results .first > .inner-result {
    border-top-width: 2px; }

.search-order-arrow-container {
  text-align: center; }
  .search-order-arrow-container span {
    margin: 0 0.25em; }
  .search-order-arrow-container .my-arrow {
    font-size: 1.5em;
    cursor: pointer; }

.page-selector-container {
  position: relative; }
  .page-selector-container #page-selector {
    color: rgba(39, 174, 96, 0.7);
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    height: 2.3em;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .page-selector-container #page-selector #prev-page, .page-selector-container #page-selector #next-page {
      font-size: 1em;
      padding: 0.2em; }
    .page-selector-container #page-selector #prev-page-section, .page-selector-container #page-selector #next-page-section {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .page-selector-container #page-selector #next-page-section {
      text-align: right; }
      .page-selector-container #page-selector #next-page-section #label-next {
        padding-top: 0.4em; }
    .page-selector-container #page-selector label {
      margin: 0 0.5em;
      font-size: 0.7em; }

.fixed-page-selector {
  position: fixed; }

#channel-scroll-btn-bar {
  color: rgba(39, 174, 96, 0.7);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  height: 2em;
  width: 10%;
  margin: 0 auto; }

@media screen and (min-width: 350px) {
  .results #page-selector #prev-page, .results #page-selector #next-page {
    font-size: 1.5em; } }

@media screen and (min-width: 525px) {
  #advanced-search #form-advanced-video-search #translate-wrapper {
    display: inline-block; }
    #advanced-search #form-advanced-video-search #translate-wrapper #translate-select {
      max-width: 100%; } }

@media screen and (min-width: 602px) {
  #advanced-search #form-advanced-video-search .cluster .btn-reset-container {
    margin-top: -1em; }
  #advanced-search .my-btn-reset {
    margin-left: 6em; } }

@media screen and (min-width: 768px) {
  .results .result h2 {
    font-size: 2em; }
  .results .inner-result .tit-descrip-container .playlist-button-wrapper, .results .inner-result .tit-descrip-container .outer-wrapper {
    text-align: left; }
  .results .inner-result .tit-descrip-container .result-chan-descrip {
    display: inline-block; }
  .results .inner-result p {
    overflow-x: auto; }
  .results .inner-result img {
    margin: 2em 0; }
  .search-order-arrow-container {
    text-align: right;
    margin-right: 1em; } }

@media screen and (min-width: 993px) {
  .results .inner-result img {
    width: 60%; }
  .results .result-mobile {
    display: none; }
  .results .result-desktop {
    display: block; } }

@media screen and (min-width: 1024px) {
  #bar {
    text-align: center; }
  #map {
    width: 60%;
    margin: 0 auto; }
  #form-search {
    margin: 2em; }
    #form-search #btn-go {
      height: 1.9em;
      font-size: 0.8em; }
  .button-wrapper {
    margin: 1em; }
  #advanced-search {
    margin-bottom: 3em; }
    #advanced-search #form-advanced-video-search {
      display: inline; }
    #advanced-search #form-channel-search {
      display: inline-block;
      margin-top: 0; }
  .channel-filter img {
    width: 5em; }
  .results {
    margin: 2em 0;
    transition: 1s linear all; }
    .results #page-selector #next-page {
      float: right; }
    .results h2, .results h3, .results .result-dir {
      text-align: center; }
    .results h2 {
      font-size: 1.5em; } }

#video .view-area-header, #video .video-title, #video p {
  text-align: center; }

#video #item {
  margin-top: 3em;
  margin-bottom: 15em; }

#video .view-area-header {
  font-family: "Courgette", serif; }

#video .video-title {
  margin: 1em;
  font-weight: bold; }

#video .remove-video-container {
  margin: 1em;
  text-align: center; }

#video .channel-info {
  text-align: center; }

#video .channel-title {
  display: inline-block;
  margin-right: 1em; }

#video iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  resize: both; }

#video #choices-wrapper {
  display: block;
  text-align: center; }

@media screen and (min-width: 1024px) {
  #video .view-area-header {
    font-size: 3em; }
  #video iframe {
    width: 50%; } }

.scroll-top-wrapper {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.scroll-top, .page-change-button {
  transition: all 0.5s ease-in-out; }

@media screen and (min-width: 1024px) {
  .scroll-top:hover, .page-change-button:hover {
    color: #888888;
    cursor: pointer;
    opacity: 1.0; } }

.my-thumbnail {
  width: 5em;
  margin: 1em 0; }

.alert-video-saved {
  text-align: center;
  margin-top: 1em; }

.modal-body {
  text-align: center; }

.search-modal-input {
  margin: 0 auto; }

.panel-default > .panel-heading {
  background-color: #fff; }

@media screen and (min-width: 403px) {
  .search-modal-input {
    width: 75%; } }

@media screen and (min-width: 768px) {
  .alert-video-saved {
    width: 50%; } }

#results.ng-enter,
#results.ng-leave.ng-leave-active {
  opacity: 0; }

#results.ng-leave,
#results.ng-enter.ng-enter-active {
  opacity: 1; }

#animate-view-container {
  position: relative; }
  #animate-view-container .animate-view {
    transition: 500ms linear all;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

#mast-header.ng-enter {
  right: 50em; }

#mast-header.ng-enter.ng-enter-active {
  right: 0; }

#credit.ng-enter {
  left: 75em; }

#credit.ng-enter.ng-enter-active {
  left: 0; }

.animate-view.ng-enter {
  opacity: 0;
  z-index: 100; }

.animate-view.ng-enter.ng-enter-active {
  opacity: 1; }

.animate-view.ng-leave {
  opacity: 1;
  z-index: 99; }

.animate-view.ng-leave.ng-leave-active {
  opacity: 0; }

.scroll-top.ng-enter {
  opacity: 0; }

.scroll-top.ng-enter-active {
  opacity: 1; }

.scroll-top.ng-leave {
  opacity: 1; }

.scroll-top.ng-leave-active {
  opacity: 0; }
