html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

@media screen and (min-width: 768px) {
  body #animate-view-container .animate-view #playlist, body #animate-view-container .animate-view #results-container {
    margin: 0 3em; } }

body {
  font-family: "Open Sans", sans-serif; }
  body .nav-tabs > li > .active {
    background-color: #f39c12;
    color: white;
    font-weight: bold; }
  body .emph {
    font-size: 1.2em; }

@media screen and (min-width: 1024px) {
  body #content, body #page-footer, body input {
    font-size: 1em; } }

#about {
  margin: 2.5em 2em 10em 2em;
  font-weight: bold; }
  #about #about-intro {
    margin: 2em 0; }
  #about #about-guide h2 {
    margin-bottom: 0.5em;
    font-size: 2em; }

@media screen and (min-width: 768px) {
  #about {
    font-size: 1em; } }

body #page-header h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  padding: 1em;
  color: #ecf0f1;
  background-color: #27ae60;
  border-radius: 0.4em; }

body #page-header #credit {
  text-align: right;
  margin: 2em;
  margin-right: 3em;
  font-weight: bold; }

@media screen and (min-width: 768px) {
  body #page-header h1 {
    font-size: 3.8em; } }

@media screen and (min-width: 1024px) {
  body #page-header h1 {
    font-size: 3em; } }

#menu {
  font-size: 0.8em; }
  #menu #video-tab {
    display: none; }

@media screen and (min-width: 320px) {
  #menu {
    font-size: 1.2em; } }

@media screen and (min-width: 1024px) {
  #menu {
    font-size: 1em; } }

#playlist #playlist-items, #playlist #past-search-items {
  list-style-type: decimal; }
  #playlist #playlist-items .playlist-div, #playlist #past-search-items .playlist-div {
    margin-bottom: 1em; }
    #playlist #playlist-items .playlist-div p, #playlist #past-search-items .playlist-div p {
      max-width: 20em; }

#playlist .btn-playlist-clear {
  margin: 2em 0; }

#bar {
  text-align: center;
  margin: 3em 0; }

#form-search {
  margin: 2em; }
  #form-search #btn-go {
    height: 1.9em;
    font-size: 0.8em; }

.button-wrapper {
  margin: 1em; }

#map {
  width: 100%;
  height: 15em;
  display: block; }

#advanced-search {
  display: none;
  margin-bottom: 3em; }
  #advanced-search #form-advanced-video-search {
    display: inline; }
    #advanced-search #form-advanced-video-search #safe-search-wrapper {
      margin: 1em; }
  #advanced-search #form-channel-search {
    margin-top: 1.5em; }
  #advanced-search .btn-clear-select, #advanced-search .btn-toggle-map {
    margin: 0 0 1em 0; }

.channel-filter img {
  width: 5em; }

.results {
  margin: 2em 0;
  transition: 1s linear all; }
  .results #page-selector-container {
    position: relative; }
    .results #page-selector-container #page-selector {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      height: 2em; }
      .results #page-selector-container #page-selector #prev-page, .results #page-selector-container #page-selector #next-page {
        font-size: 0.7em; }
      .results #page-selector-container #page-selector #next-page {
        float: right; }
  .results h2, .results h3, .results .result-dir, .results .results-img-container {
    text-align: center; }
  .results h2 {
    font-size: 1.5em; }
  .results .results-row {
    margin: 1em 0; }
  .results .inner-result {
    background-color: #ececec;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.58);
    border-width: 1px 2px 0 2px; }
    .results .inner-result .tit-descrip-container {
      z-index: 1; }
      .results .inner-result .tit-descrip-container .playlist-button-wrapper, .results .inner-result .tit-descrip-container .outer-wrapper {
        text-align: center; }
      .results .inner-result .tit-descrip-container .result-chan-wrapper {
        display: inline-block;
        padding: 1em;
        border: 1px solid white;
        border-radius: 0.5em; }
      .results .inner-result .tit-descrip-container .playlist-button-wrapper {
        margin: 1em; }
    .results .inner-result p {
      overflow-x: scroll; }
    .results .inner-result h3, .results .inner-result p {
      color: black; }
    .results .inner-result h3 {
      font-size: 1.4em;
      font-weight: bold; }
    .results .inner-result img {
      float: none;
      cursor: pointer;
      margin: 2em 0 7em 0;
      height: 100%;
      width: 50%; }
  .results .last > .inner-result {
    border-bottom-width: 2px; }
  .results .first > .inner-result {
    border-top-width: 2px; }

@media screen and (min-width: 350px) {
  .results #page-selector #prev-page, .results #page-selector #next-page {
    font-size: 1em; } }

@media screen and (min-width: 768px) {
  .results .result h2 {
    font-size: 2em; }
  .results .inner-result .tit-descrip-container .playlist-button-wrapper, .results .inner-result .tit-descrip-container .outer-wrapper {
    text-align: left; }
  .results .inner-result .tit-descrip-container .result-chan-descrip {
    display: inline-block; }
  .results .inner-result p {
    overflow-x: auto; }
  .results .inner-result img {
    margin: 2em 0; } }

@media screen and (min-width: 1024px) {
  #bar {
    text-align: center; }
  #map {
    width: 60%;
    margin: 0 auto; }
  #form-search {
    margin: 2em; }
    #form-search #btn-go {
      height: 1.9em;
      font-size: 0.8em; }
  .button-wrapper {
    margin: 1em; }
  #advanced-search {
    display: none;
    margin-bottom: 3em; }
    #advanced-search #form-advanced-video-search {
      display: inline; }
    #advanced-search #form-channel-search {
      display: inline-block;
      margin-top: 0; }
  .channel-filter img {
    width: 5em; }
  .results {
    margin: 2em 0;
    transition: 1s linear all; }
    .results #page-selector #next-page {
      float: right; }
    .results h2, .results h3, .results .result-dir {
      text-align: center; }
    .results h2 {
      font-size: 1.5em; } }

#video .view-area-header, #video p {
  text-align: center; }

#video #item {
  margin-bottom: 15em; }

#video .view-area-header {
  font-family: "Courgette", serif; }

#video iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  resize: both; }

#video #choices-wrapper {
  display: block;
  text-align: center; }

@media screen and (min-width: 1024px) {
  #video .view-area-header {
    font-size: 3em; }
  #video iframe {
    width: 50%; } }

.scroll-top-wrapper {
  position: fixed;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #777777;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.scroll-top-wrapper:hover {
  background-color: #888888; }

.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0; }

.scroll-top-wrapper i.fa {
  line-height: inherit; }

.my-thumbnail {
  width: 5em; }

#results.ng-enter,
#results.ng-leave.ng-leave-active {
  opacity: 0; }

#results.ng-leave,
#results.ng-enter.ng-enter-active {
  opacity: 1; }

#animate-view-container {
  position: relative;
  height: 100%; }
  #animate-view-container .animate-view {
    transition: 500ms linear all;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.animate-view.ng-enter {
  opacity: 0;
  z-index: 100; }

.animate-view.ng-enter.ng-enter-active {
  opacity: 1; }

.animate-view.ng-leave {
  opacity: 1;
  z-index: 99; }

.animate-view.ng-leave.ng-leave-active {
  opacity: 0; }

.scroll-top-wrapper.ng-enter {
  opacity: 0; }

.scroll-top-wrapper.ng-enter-active {
  opacity: 1; }

.scroll-top-wrapper.ng-leave {
  opacity: 1; }

.scroll-top-wrapper.ng-leave-active {
  opacity: 0; }

@media screen and (min-width: 1024px) {
  #animate-view-container {
    min-height: 100%; } }
