html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

@media screen and (min-width: 768px) {
  body #animate-view-container .animate-view #playlist, body #animate-view-container .animate-view #results-container {
    margin: 0 3em; } }

body {
  font-family: "Open Sans", sans-serif; }
  body .nav-tabs > li > .active {
    background-color: #f39c12;
    color: white;
    font-weight: bold; }
  body .emph {
    font-size: 1.2em; }
  body .bold {
    font-weight: 600; }

@media screen and (min-width: 1024px) {
  body #content, body #page-footer, body input {
    font-size: 1em; } }

#about {
  margin: 2.5em 2em 10em 2em; }
  #about #about-intro {
    margin: 2em 0; }
  #about #about-guide h2 {
    margin-bottom: 0.5em;
    font-size: 2em; }

@media screen and (min-width: 768px) {
  #about {
    font-size: 1em; } }

body #page-header #header-wrapper #mast-header {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  padding: 1em;
  color: #ecf0f1;
  background-color: #27ae60;
  border-radius: 0.4em;
  position: relative;
  transition: 1s ease all; }

body #page-header #header-wrapper #credit {
  text-align: right;
  margin: 2em;
  margin-right: 3em;
  font-weight: bold;
  position: relative;
  transition: 1s ease all; }

body .fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 9999; }

@media screen and (min-width: 768px) {
  body #page-header h1 {
    font-size: 3.8em; } }

@media screen and (min-width: 1024px) {
  body #page-header h1 {
    font-size: 3em; } }

#header-menu {
  font-size: 0.7em; }
  #header-menu #video-tab {
    display: none; }

.nav > li > a {
  padding: 10px 8px; }

.tabs-adjust {
  padding-left: 15px; }

@media screen and (min-width: 364px) {
  #header-menu {
    font-size: 0.8em; } }

@media screen and (min-width: 1024px) {
  #header-menu {
    font-size: 1em; } }

#playlist .playlist-section-header {
  margin-top: 2em; }

#playlist h2 {
  display: inline-block;
  font-size: 1.5em; }

#playlist #playlist-items, #playlist #past-search-items {
  list-style-type: decimal; }
  #playlist #playlist-items .playlist-div, #playlist #past-search-items .playlist-div {
    margin-bottom: 1em; }
    #playlist #playlist-items .playlist-div p, #playlist #past-search-items .playlist-div p {
      max-width: 20em; }

#playlist .btn-playlist-clear, #playlist .sort-buttons {
  margin: 2em 0; }

#playlist .btn-play-toggle {
  vertical-align: middle;
  margin: 0 0 1em 1em; }

#playlist .btn-group-srt {
  display: inline-block; }

@media screen and (min-width: 364px) {
  #playlist h2 {
    font-size: 2em; } }

#bar {
  text-align: center;
  margin: 3em 0; }

#form-search {
  margin: 2em; }
  #form-search #btn-go {
    height: 1.9em;
    font-size: 0.8em; }

.button-wrapper {
  margin: 1em; }

#map {
  width: 100%;
  height: 15em;
  display: block; }

.hidden {
  display: none; }

#form-basic-video-search,
#advanced-search {
  transition: 500ms linear all; }

#advanced-search {
  margin-bottom: 3em; }
  #advanced-search #form-advanced-video-search {
    display: inline; }
    #advanced-search #form-advanced-video-search .cluster {
      vertical-align: middle;
      display: inline-block; }
      #advanced-search #form-advanced-video-search .cluster .sub-cluster {
        margin: 1em 0; }
        #advanced-search #form-advanced-video-search .cluster .sub-cluster label {
          text-align: left; }
        #advanced-search #form-advanced-video-search .cluster .sub-cluster select {
          text-align: right; }
    #advanced-search #form-advanced-video-search #translate-wrapper {
      display: block; }
      #advanced-search #form-advanced-video-search #translate-wrapper #translate-select {
        margin: 0 auto;
        max-width: 11em; }
  #advanced-search #form-channel-search {
    margin-top: 1.5em; }
  #advanced-search #save-search-wrapper {
    margin: 1em; }
  #advanced-search #video-search-wrapper {
    margin-bottom: 1em; }
  #advanced-search .btn-clear-select, #advanced-search .btn-toggle-map {
    margin: 0 0 1em 0; }

.channel-filter img {
  width: 5em; }

.results {
  margin: 2em 0;
  transition: 1s linear all; }
  .results h2, .results h3, .results .result-dir, .results .results-img-container {
    text-align: center; }
  .results h2 {
    font-size: 1.5em; }
  .results .results-row {
    margin: 1em 0; }
  .results .inner-result {
    background-color: #ececec;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.58);
    border-width: 1px 2px 0 2px; }
    .results .inner-result .tit-descrip-container {
      z-index: 1; }
      .results .inner-result .tit-descrip-container .playlist-button-wrapper, .results .inner-result .tit-descrip-container .outer-wrapper {
        text-align: center; }
      .results .inner-result .tit-descrip-container .result-chan-wrapper {
        display: inline-block;
        padding: 1em;
        border: 1px solid white;
        border-radius: 0.5em; }
      .results .inner-result .tit-descrip-container .playlist-button-wrapper {
        margin: 1em; }
    .results .inner-result p {
      overflow-x: scroll; }
    .results .inner-result h3, .results .inner-result p {
      color: black; }
    .results .inner-result h3 {
      font-size: 1.4em;
      font-weight: bold; }
    .results .inner-result img {
      float: none;
      cursor: pointer;
      margin: 2em 0 7em 0;
      height: 100%;
      width: 50%; }
  .results .last > .inner-result {
    border-bottom-width: 2px; }
  .results .first > .inner-result {
    border-top-width: 2px; }

.page-selector-container {
  position: relative; }
  .page-selector-container #page-selector {
    color: rgba(39, 174, 96, 0.7);
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    height: 2.3em;
    background-color: rgba(255, 255, 255, 0.55); }
    .page-selector-container #page-selector #prev-page, .page-selector-container #page-selector #next-page {
      font-size: 1em; }
    .page-selector-container #page-selector #prev-page-section, .page-selector-container #page-selector #next-page-section {
      display: inline-block; }
    .page-selector-container #page-selector #next-page-section {
      text-align: right; }
      .page-selector-container #page-selector #next-page-section #label-next {
        padding-top: 0.4em; }
    .page-selector-container #page-selector label {
      margin: 0 0.5em;
      font-size: 0.7em; }

.fixed-page-selector {
  position: fixed; }

#channel-scroll-btn-bar {
  color: rgba(39, 174, 96, 0.7);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  height: 2em;
  width: 10%;
  margin: 0 auto; }

@media screen and (min-width: 350px) {
  .results #page-selector #prev-page, .results #page-selector #next-page, .results #page-selector label {
    font-size: 1em; } }

@media screen and (min-width: 525px) {
  #advanced-search #form-advanced-video-search #translate-wrapper {
    display: inline-block; }
    #advanced-search #form-advanced-video-search #translate-wrapper #translate-select {
      max-width: 100%; } }

@media screen and (min-width: 768px) {
  .results .result h2 {
    font-size: 2em; }
  .results .inner-result .tit-descrip-container .playlist-button-wrapper, .results .inner-result .tit-descrip-container .outer-wrapper {
    text-align: left; }
  .results .inner-result .tit-descrip-container .result-chan-descrip {
    display: inline-block; }
  .results .inner-result p {
    overflow-x: auto; }
  .results .inner-result img {
    margin: 2em 0; } }

@media screen and (min-width: 1024px) {
  #bar {
    text-align: center; }
  #map {
    width: 60%;
    margin: 0 auto; }
  #form-search {
    margin: 2em; }
    #form-search #btn-go {
      height: 1.9em;
      font-size: 0.8em; }
  .button-wrapper {
    margin: 1em; }
  #advanced-search {
    margin-bottom: 3em; }
    #advanced-search #form-advanced-video-search {
      display: inline; }
    #advanced-search #form-channel-search {
      display: inline-block;
      margin-top: 0; }
  .channel-filter img {
    width: 5em; }
  .results {
    margin: 2em 0;
    transition: 1s linear all; }
    .results #page-selector #next-page {
      float: right; }
    .results h2, .results h3, .results .result-dir {
      text-align: center; }
    .results h2 {
      font-size: 1.5em; } }

#video .view-area-header, #video .video-title, #video p {
  text-align: center; }

#video #item {
  margin-top: 3em;
  margin-bottom: 15em; }

#video .view-area-header {
  font-family: "Courgette", serif; }

#video .video-title {
  margin: 1em;
  font-weight: bold; }

#video .channel-info {
  text-align: center; }

#video .channel-title {
  display: inline-block;
  margin-right: 1em; }

#video iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  resize: both; }

#video #choices-wrapper {
  display: block;
  text-align: center; }

@media screen and (min-width: 1024px) {
  #video .view-area-header {
    font-size: 3em; }
  #video iframe {
    width: 50%; } }

.scroll-top-wrapper {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.scroll-top {
  transition: all 0.5s ease-in-out; }

@media screen and (min-width: 1024px) {
  .scroll-top:hover {
    color: #888888;
    cursor: pointer;
    opacity: 1.0; } }

.my-thumbnail {
  width: 5em; }

#results.ng-enter,
#results.ng-leave.ng-leave-active {
  opacity: 0; }

#results.ng-leave,
#results.ng-enter.ng-enter-active {
  opacity: 1; }

#animate-view-container {
  position: relative;
  height: 100%; }
  #animate-view-container .animate-view {
    transition: 500ms linear all;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

#mast-header.ng-enter {
  right: 50em; }

#mast-header.ng-enter.ng-enter-active {
  right: 0; }

#credit.ng-enter {
  left: 75em; }

#credit.ng-enter.ng-enter-active {
  left: 0; }

.animate-view.ng-enter {
  opacity: 0;
  z-index: 100; }

.animate-view.ng-enter.ng-enter-active {
  opacity: 1; }

.animate-view.ng-leave {
  opacity: 1;
  z-index: 99; }

.animate-view.ng-leave.ng-leave-active {
  opacity: 0; }

.scroll-top.ng-enter {
  opacity: 0; }

.scroll-top.ng-enter-active {
  opacity: 1; }

.scroll-top.ng-leave {
  opacity: 1; }

.scroll-top.ng-leave-active {
  opacity: 0; }

@media screen and (min-width: 1024px) {
  #animate-view-container {
    min-height: 100%; } }
