html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

body {
  font-family: "Open Sans", sans-serif; }
  body #content, body input {
    font-size: 2em; }
  body .nav-tabs > li > .active {
    background-color: #f39c12;
    color: white;
    font-weight: bold; }

@media screen and (min-width: 1024px) {
  body #content, body #page-footer, body input {
    font-size: 1em; } }

#about {
  margin: 2.5em 0;
  font-weight: bold;
  font-style: italic;
  font-size: 0.8em; }

@media screen and (min-width: 768px) {
  #about {
    font-size: 1em; } }

body #page-header h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  padding: 1em;
  color: #ecf0f1;
  background-color: #27ae60;
  border-radius: 0.4em; }

body #page-header #credit {
  text-align: right;
  margin: 2em;
  margin-right: 3em;
  font-weight: bold; }

@media screen and (min-width: 768px) {
  body #page-header h1 {
    font-size: 3.8em; } }

@media screen and (min-width: 1024px) {
  body #page-header h1 {
    font-size: 3em; } }

#menu {
  font-size: 1.2em; }

@media screen and (min-width: 1024px) {
  #menu {
    font-size: 1em; } }

#bar {
  text-align: center; }

#form-search {
  margin: 2em; }
  #form-search #btn-go {
    height: 1.9em;
    font-size: 0.8em; }

#results {
  margin: 2em 0;
  transition: 1s linear all; }
  #results h2, #results h3 {
    text-align: center; }
  #results h2 {
    font-size: 1.5em; }
  #results .result {
    margin: 3em 0; }
  #results .inner-result {
    background-color: #7f8c8d;
    border: 2px solid rgba(0, 0, 0, 0.58);
    border-radius: 0.5em; }
    #results .inner-result h3 {
      font-size: 1em;
      font-weight: bold;
      color: white; }
    #results .inner-result img {
      display: block;
      margin: 0.5em auto;
      height: 6em;
      width: 8em; }

@media screen and (min-width: 768px) {
  #results .result h2 {
    font-size: 2em; }
  #results .result img {
    height: 5em;
    width: 7em; } }

@media screen and (min-width: 1024px) {
  #form-search input {
    height: 2em;
    font-size: 1em; }
  #form-search #btn-go {
    width: 4em;
    height: 2.5em;
    text-align: center; }
  #results .result {
    height: 7em;
    margin: 5em 0; }
    #results .result .inner-result {
      height: 12em;
      margin: 0 1em; }
    #results .result h3 {
      font-size: 1.2em; }
    #results .result img {
      height: 90px;
      width: 120px; } }

iframe {
  display: block;
  margin: 0 auto;
  width: 100%; }

#choices-wrapper {
  display: block;
  text-align: center; }

#results.ng-enter,
#results.ng-leave.ng-leave-active {
  opacity: 0; }

#results.ng-leave,
#results.ng-enter.ng-enter-active {
  opacity: 1; }

#animate-view-container {
  position: relative;
  height: 100%; }
  #animate-view-container .animate-view {
    transition: 1s linear all;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.animate-view.ng-enter {
  opacity: 0;
  z-index: 100; }

.animate-view.ng-enter.ng-enter-active {
  opacity: 1; }

.animate-view.ng-leave {
  opacity: 1;
  z-index: 99; }

.animate-view.ng-leave.ng-leave-active {
  opacity: 0; }

@media screen and (min-width: 1024px) {
  #animate-view-container {
    min-height: 100%; } }
