html {
  height: 100%;
  min-height: 100%; }
  html body {
    min-height: 100%; }

* {
  font-family: "Open Sans" sans-serif; }

#content, #page-footer, input {
  font-size: 2em; }

.active {
  color: beige;
  background-color: grey;
  font-weight: bold; }

@media screen and (min-width: 1024px) {
  #content, #page-footer, input {
    font-size: 1em; } }

#about {
  margin: 2.5em 0;
  font-weight: bold;
  font-style: italic; }

#page-footer {
  margin-top: 5em;
  padding: 2em;
  border-top: 1px solid;
  text-align: center; }

body #page-header h1 {
  text-align: center;
  font-size: 6em;
  font-weight: bold; }

@media screen and (min-width: 1024px) {
  body #page-header h1 {
    font-size: 3em; } }

#menu {
  font-size: 3em; }

@media screen and (min-width: 1024px) {
  #menu {
    font-size: 1em; } }

#form-search {
  margin: 1.5em 0.5em; }
  #form-search input {
    height: 2.5em;
    font-size: 2.5em; }
  #form-search #btn-go {
    width: 2.8em; }

#results {
  margin: 2em 0;
  transition: 1s linear all; }
  #results h2, #results h3 {
    text-align: center; }
  #results h2 {
    font-size: 3em; }
  #results .result {
    height: 15em;
    border: 2px solid black;
    border-radius: 0.5em; }
    #results .result h3 {
      font-size: 2em; }
    #results .result img {
      display: block;
      margin: auto; }

@media screen and (min-width: 768px) {
  #form-search input {
    height: 2.2em;
    font-size: 1.8em; }
  #results .result h3 {
    font-size: 1.3em; } }

@media screen and (min-width: 1024px) {
  #form-search input {
    height: 2em;
    font-size: 1em; }
  #form-search #btn-go {
    width: 3.5em;
    text-align: center; }
  #results h2 {
    font-size: 2em; }
  #results .result {
    height: 8em; }
    #results .result h3 {
      font-size: 1em; } }

iframe {
  display: block;
  margin: 0 auto; }

#btn-choices {
  display: none; }

#choices-wrapper {
  display: block;
  text-align: center; }

@media screen and (min-width: 1024px) {
  #btn-choices {
    display: inline-block; } }

#results.ng-enter,
#results.ng-leave.ng-leave-active {
  opacity: 0; }

#results.ng-leave,
#results.ng-enter.ng-enter-active {
  opacity: 1; }

#animate-view-container {
  position: relative;
  height: 42em; }

.animate-view {
  transition: 1s linear all;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.animate-view.ng-enter {
  opacity: 0;
  z-index: 100; }

.animate-view.ng-enter.ng-enter-active {
  opacity: 1; }

.animate-view.ng-leave {
  opacity: 1;
  z-index: 99; }

.animate-view.ng-leave.ng-leave-active {
  opacity: 0; }

@media screen and (min-width: 1024px) {
  #animate-view-container {
    height: 400px; } }
