#about {
	margin-top: 2.5em;
	margin-bottom: 10em;
	#about-intro {
		margin: 2em 0;
	}
	#about-guide {
		h2 {
			margin-bottom: 0.5em;
			font-size: 2em;
		}
	}
}

@media screen and ($tablet){
	#about {
		font-size: 1em;
		margin: 0 1em;
	}
}