//Video Saved Alert

.alert-video-saved {
	transition:500ms linear all;
}

.alert-video-saved.ng-enter,
.alert-video-saved.ng-leave.ng-leave-active {
	opacity: 0;
}

.alert-video-saved.ng-leave,
.alert-video-saved.ng-enter.ng-enter-active {
	opacity: 1;
}

//State Changes
#animate-view-container { 
	position:relative;
	.animate-view {
	    transition:500ms linear all;
	    position:absolute;
	    top:0;
	    left:0;
	    right:0;
	    bottom:0;
	}
}

//Header Contents
#mast-header.ng-enter { right:50em }
#mast-header.ng-enter.ng-enter-active { right:0 }

#credit.ng-enter {left: 75em}
#credit.ng-enter.ng-enter-active { left: 0 }

.animate-view.ng-enter { opacity:0; z-index:100; }
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; z-index:99; }
.animate-view.ng-leave.ng-leave-active { opacity:0; }

//Scroll Button
.scroll-top.ng-enter { opacity:0; }
.scroll-top.ng-enter-active { opacity:1; }
.scroll-top.ng-leave { opacity:1; }
.scroll-top.ng-leave-active { opacity:0; }