.scroll-top-wrapper {
    display: inline-block;
	overflow: hidden;
	text-align: center;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.scroll-top {
	transition: all 0.5s ease-in-out;
	// visibility: hidden;
	// display: none;
}

.scroll-top:hover {
	color: #888888;
	cursor:pointer;
	opacity: 1.0;
}