// Used in playlist
.my-thumbnail {
	width: 8em;
	margin: 1em 0;
}

//

.alert-saved-wrapper {
	display: inline-block;
	width: auto;
}

.alert-saved-contents {
	white-space: nowrap;
	margin-left: 2em;
	i {
		overflow: hidden;
		transition:500ms linear all;
	}
}

.alert-video-saved {
	display: inline-block;
	margin: 0;
    padding: 0.5em 1em;
    position: absolute;
    right: 10em;
}

//Modals

.modal-header, .modal-body {
	text-align: center;
}

//Search-saved-modal
.modal-body-saved-search {
	text-align: center;
}

.search-modal-input {
	margin: 0 auto;
}

.modal-body .row {
	margin-bottom: 1em;
}

//Bootstrap tweaks

.panel-default>.panel-heading {
	background-color: #fff;
}

@media screen and ($mobile5){
	.search-modal-input {
		width: 75%;
	}
}

@media screen and ($tablet){
	.alert-video-saved {
		right: 25em;
	}
}