.my-thumbnail {
	width: 5em;
	margin: 1em 0;
}

.alert-video-saved {
	text-align: center;
	width: 50%;
	margin-top: 1em;
}

//Search-saved-modal
.modal-body {
	text-align: center;
}

.search-modal-input {
	margin: 0 auto;
}

@media screen and ($mobile5){
	.search-modal-input {
		width: 75%;
	}
}