body {
	#page-header {
		#header-wrapper {
			#mast-header {
				text-align: center;
				font-size: 2.5em;
				font-weight: bold;
				font-family: "Helvetica Neue", sans-serif;
				padding: 1em;
				color: #fbfbfb;
				background-color: #27ae60;
				border-radius: 0.4em;
				position: relative;
				transition: 1s ease all;
			}
			#credit {
				text-align: right;
				margin: 2em;
				margin-right: 3em;
				font-weight: bold;
				position: relative;
				transition: 1s ease all;
			}
		}
	}
	.fixed {
		position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background-color: #fbfbfb;
	    z-index: 9999;
	}
}

@media screen and ($tablet){
	body {
		#page-header h1 {
			font-size: 3.8em;		
		}
	}
}

@media screen and ($desktop){
	body {
		#page-header h1 {
			font-size: 3em;
		}
	}
}