body {
	#page-header {
		h1 {
			text-align: center;
			font-size: 4em;
			font-weight: bold;
			font-family: "Helvetica Neue", sans-serif;
			padding: 1em;
			color: #ecf0f1;
			background-color: #27ae60;
			border-radius: 0.4em;

		}
		#credit {
			text-align: right;
			margin: 2em;
			margin-right: 3em;
			font-weight: bold;

		}
	}
}

// @media screen and ($mobile){
// 	body {
// 		#page-header h1 {
// 			font-size: 4em;		
// 		}
// 	}
// }

@media screen and ($desktop){
	body {
		#page-header h1 {
			font-size: 3em;
		}
	}
}