html,body, #container-main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fbfbfb;
}

#about, #playlist, #search {
	margin: 0 0.5em;
}

.body-fixed-nav {
	padding-top: 40px;
}



@media screen and ($tablet){
	body {
	#animate-view-container {	
	    	.animate-view {
	    		#playlist, #results-container {
	    			margin: 0 3em;
	    		}
	    	}
	    }	
	}
}