html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

@media screen and ($tablet){
	body {
	#animate-view-container {	
	    	.animate-view {
	    		#playlist, #results-container {
	    			margin: 0 3em;
	    		}
	    	}
	    }	
	}
}