html,body, #container-main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fbfbfb;
}

#about, #playlist, #video, #search {
	margin: 0 1em;
}

.body-fixed-nav {
	padding-top: 40px;
}

.content-container {
	border: 1px solid #E7E7E7;
	background-color: #F8F8F8;
	padding: 1em;
	margin: 1em;
	border-radius: 0.5em;
}



@media screen and ($tablet){
	body {
	#animate-view-container {	
	    	.animate-view {
	    		#playlist, #results-container {
	    			margin: 0 3em;
	    		}
	    	}
	    }	
	}
}