#header-menu {
	font-size: 0.7em;
	#video-tab {
		display: none;
	}
}

.nav>li>a {
		padding: 10px 8px;
	}

@media screen and ($mobile4){
	#header-menu {
		font-size: 0.8em;
	}
	
}

@media screen and ($desktop){
	#header-menu {
		font-size: 1em;
	}
}