#header-menu {
	font-size: 0.7em;
	.navbar-nav>li>a {
		line-height: 28px;
	}

	.navbar-nav > li .active {
		font-weight: 600;
	}

	#menu-fixed {
		transition: 0.25s linear all;
		font-size: 1.3em;
	}

	.menu-fixed-no-scroll {
		background-color: #FBFBFB;
		border-color: transparent;
	}	
}

.nav>li>a {
	padding: 10px 8px;
}

.tabs-adjust {
	padding-left: 15px;
}

.my-nav-item {
	text-align: right;
}

.my-brand {
	font-weight: bold;
    font-family: "Oswald";
    letter-spacing: 0.1em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 0;
    z-index: -1;
}

.hide-nav-button-container {
	display: none;
}

@media screen and ($mobile4){
	#header-menu {
		font-size: 0.8em;
	}
	
}

@media screen and ($tablet){
	#header-menu {
		.my-nav, .my-nav-item {
			float: none;
		}
		.my-nav {
			text-align: center;
		}

		.my-nav-item {
			display: inline-block;
		}
	}
	
}

@media screen and ($desktop){
	#header-menu {
		font-size: 1em;
		.hide-nav-button-container {
			display: block;
			position: fixed;
			top: 1em;
			right: 2em;
    		// left: 44em;
    		z-index: 9999;
			.hide-nav-inner {
				text-align: center;
			}
		}
	}
}