#header-menu {
	font-size: 0.7em;
	.navbar-nav>li>a {
		line-height: 28px;
	}
	.menu-fixed-no-scroll {
		// background-color: #FBFBFB;
		background-color: transparent;
		border: none;
	}
}

.nav>li>a {
	padding: 10px 8px;
}

.tabs-adjust {
	padding-left: 15px;
}

@media screen and ($mobile4){
	#header-menu {
		font-size: 0.8em;
	}
	
}

@media screen and ($desktop){
	#header-menu {
		font-size: 1em;
	}
}