#playlist {
	.playlist-section-header {
		margin-top: 2em;
	}
	h2 {
		display: inline-block;
		font-size: 1.5em;
	}
	#playlist-items, #past-search-items {
		list-style-type: decimal;
		.playlist-div {
			margin-bottom: 1em;
			p {
				max-width: 20em;
			}
		}
	}
	.btn-playlist-clear, .sort-buttons {
		margin: 2em 0;
	}

	.btn-play-toggle {
		vertical-align: middle;
		margin: 0 0 1em 1em;
	}

	.btn-group-srt {
		display: inline-block;
	}

	.btn-close-all {
		margin-bottom: 1em;
	}
}

@media screen and ($mobile4){
	#playlist {
		h2 {
			font-size: 2em;
		}
	}
}