#playlist {
	#playlist-items, #past-search-items {
		list-style-type: decimal;
		.playlist-div {
			margin-bottom: 1em;
			p {
				max-width: 20em;
			}
		}
	}
	.btn-playlist-clear, #sort-buttons {
		margin: 2em 0;
	}

	.btn-group-srt {
		display: inline-block;
	}
}