#playlist {
	padding-bottom: 6em;
	// margin: 0 0.5em;
	.playlist-section-header {
		margin-top: 2em;
	}
	h2 {
		display: inline-block;
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.2em;
	}
	#playlist-items, #past-search-items {
		list-style-type: decimal;
		.playlist-div {
			margin-bottom: 1em;
			p {
				max-width: 20em;
			}
		}
	}
	//Playlist Buttons
	.btn-playlist-clear, .video-sort-buttons, .search-sort-buttons {
		margin: 2em 0;
	}
	.playlist-btn-group {
		text-align: right;
	}
	.btn-play-toggle {
		vertical-align: middle;
		margin: 0 0 1em 1em;
	}
	.filter-buttons-header {
		text-align: left;
	}
	.video-sort-buttons {
		display: none;
	}
	.sort-buttons-mobile {
		display: block;
	}
	.btn-toggle-all {
		margin-bottom: 1em;
	}
	.filter-inputs {
		margin: 1em 0;
		text-align: center;
	}
	.filt-label {
		display: block;
	}
}

@media screen and ($mobile4){
	#playlist {
		h2 {
			font-size: 2em;
		}
		h3 {
			font-size: 1.5em;
		}
		.filter-inputs {
			.filter-input-group {
				display: inline-block;
			}
			.filter-input-group-keyword {
				display: block;
			}
			input {
				width: 12em;
				display: inline-block;
			}
		}
		
	}
}

@media screen and ($mobile5){
	#playlist {
		.video-sort-buttons {
			display: block;
		}
		.sort-buttons-mobile{
			display: none;
		}
	}
}

@media screen and ($tablet){
	#playlist {
		.filter-inputs {
			text-align: left;
			.filter-input-group-keyword {
				display: inline-block;
			}
		}
	}
}



