#bar {
	text-align: center;
}

#form-search {
	margin: 2em;
	#btn-go {
		height: 1.9em;
		font-size: 0.8em;
	}
}

#results {
	margin: 2em 0;
	h2, h3 {
		text-align: center;
	}
	h2 {
		font-size: 1.5em;
	}
	.result {
		margin: 3em 0;

	}
	.inner-result {

		background-color: #7f8c8d;
		border: 2px solid rgba(0, 0, 0, 0.58);
		border-radius: 0.5em;
		h3 {
			font-size: 1em;
			font-weight: bold;
			color: white;
		}
		img {
			display: block;
			margin:  0.5em auto;
			height: 6em;
			width: 8em;
		}
	}
	transition: 1s linear all;
}

@media screen and ($tablet){
	#results {
		.result {
			h2 {
				font-size: 2em;
			}
			img {
				height: 5em;
				width: 7em;
			}
		}
	}
}

@media screen and ($desktop){
	#form-search {
		input {
			height: 2em;
			font-size: 1em;
		}
		#btn-go {
			width: 4em;
			height: 2.5em;
			text-align: center;
		}
	}

	#results {

		.result {
			height: 7em;
			margin: 5em 0;
			.inner-result {
				height: 12em;
				margin: 0 1em;
			}
			h3 {
				font-size: 1.2em;
			}
			img {
				height: 90px;
				width: 120px;
			}
		}
	}
}



