#bar {
	text-align: center;
	margin: 3em 0;
}

#form-search {
	margin: 2em;
	#btn-go {
		height: 1.9em;
		font-size: 0.8em;
	}
}

.button-wrapper {
	margin: 1em;
}

#map {
		width: 100%;
		height: 15em;
		display: block;
}

.hidden {
	display: none;
}

#form-basic-video-search,
#advanced-search {
	transition: 500ms linear all;
}

#advanced-search {
	// display: none;
	margin-bottom: 3em;
	#form-advanced-video-search {
		display: inline;
		.cluster {
			vertical-align: middle;
			display: inline-block;
			.sub-cluster {
				margin: 1em 0;
				label {
					text-align: left;
				}
				select {
					text-align: right;
				}
			}
		}
	}
	#form-channel-search {
		margin-top: 1.5em;
	}
	#save-search-wrapper {
			margin: 1em;
	}
	#video-search-wrapper {
		margin-bottom: 1em;
	}
	.btn-clear-select, .btn-toggle-map {
		margin: 0 0 1em 0;
	}

}

.channel-filter {
	img {
		width: 5em;
	}
}

.results {
	#page-selector-container {
		position: relative;
		#page-selector {
			position: fixed;
			// top: 42px;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 9999;
			height: 2em;
			background-color: rgba(255, 255, 255, 0.55);
			#prev-page, #next-page {
				font-size: 0.7em;
			}
			#prev-page-section, #next-page-section {
				display: inline-block;
			}
			#next-page-section, {
				float: right;
			}
			label {
				color: rgba(39, 174, 96, 0.7);
				vertical-align: sub;
				margin: 0 1em;
			}
		}
	}
	.fixed-page-selector {
		position: fixed;
	}

	margin: 2em 0;
	h2, h3, .result-dir, .results-img-container {
		text-align: center;
	}

	h2 {
		font-size: 1.5em;
	}
	.results-row {
		margin: 1em 0;
	}
	.inner-result {
		background-color: rgb(236, 236, 236);
		border-style: solid;
		border-color: rgba(0, 0, 0, 0.58);
		border-width: 1px 2px 0 2px;
		.tit-descrip-container {
			z-index: 1;			
			.playlist-button-wrapper, .outer-wrapper {
				text-align: center;
			}
			.result-chan-wrapper {
					display: inline-block;
					padding: 1em;
					border: 1px solid white;
					border-radius: 0.5em;
				}
			.playlist-button-wrapper {
				margin: 1em;
			}
			.result-chan-descrip {
			}
		}
		p {
			overflow-x: scroll;
		}
		h3, p {
			color: rgba(0, 0, 0, 1);
		}
		h3 {
			font-size: 1.4em;
			font-weight: bold;
		}
		img {
			float: none;
			cursor: pointer;
			margin:  2em 0 7em 0;
			height: 100%;
			width: 50%;
		}
	}
	.last > .inner-result {
		border-bottom-width: 2px;
	}
	.first > .inner-result {
		border-top-width: 2px;
	}
	transition: 1s linear all;
}

@media screen and ($mobile3){
	.results {
		#page-selector {
			#prev-page, #next-page {
				font-size: 1em;
			}
		}
	}
}

@media screen and ($tablet){
	.results {
		.result {
			h2 {
				font-size: 2em;
			}
		}
		.inner-result {
			.tit-descrip-container {
				.playlist-button-wrapper, .outer-wrapper {
				text-align: left;
			}
				.result-chan-descrip {
					display: inline-block;
				}
			}
			p {
				overflow-x: auto;
			}
			img {
				margin: 2em 0;
			}
		}
	}
}

@media screen and ($desktop){
	#bar {
	text-align: center;
	}
	
	#map {
		width: 60%;
		margin: 0 auto;
	}
	#form-search {
		margin: 2em;
		#btn-go {
			height: 1.9em;
			font-size: 0.8em;
		}
	}
	.button-wrapper {
		margin: 1em;
	}
	#advanced-search {
		// display: none;
		margin-bottom: 3em;
		#form-advanced-video-search {
			display: inline;
		}
		#form-channel-search {
			display: inline-block;
			margin-top: 0;
		}
	}

	.channel-filter {
		img {
			width: 5em;
		}
	}
	.results {
		#page-selector {
			#next-page {
				float: right;
			}
		}
		margin: 2em 0;
		h2, h3, .result-dir {
			text-align: center;
		}
		h2 {
			font-size: 1.5em;
		}
		transition: 1s linear all;
	}
}



