//Search

#bar, .greeting-container {
	text-align: center;
}

.greeting-container {
	padding-bottom: 2em;
    border-bottom: 1px solid #E7E7E7;
	h3 {
		display: inline-block;
		margin: 0 0.5em;
	}
}

#bar {
	margin: 3em 0;
}

#form-search {
	margin: 2em;
	#btn-go {
		height: 1.9em;
		font-size: 0.8em;
	}
}

.button-wrapper {
	margin: 1em;
}

#map {
	width: 100%;
	height: 15em;
	display: block;
}

#map-hud {
	div {
		text-align: center;
	}
	span {
		font-size: 0.7em;
	}
}

.hidden {
	display: none;
}

#form-basic-video-search,
#advanced-search {
	transition: 500ms linear all;
}

#advanced-search {
	margin-bottom: 3em;
	#video-search-bar{
		font-size: 1.5em;
	}
	
	.params-container {
		border: 1px solid #E7E7E7;
		background-color: #F8F8F8;
		display: inline-block;
		padding: 1em;
		margin: 1em;
		border-radius: 0.5em;
	}

	.btn-go {
		font-size: 2rem;
	}

	#form-advanced-video-search {
		display: inline;
		.cluster {
			vertical-align: middle;
			display: inline-block;
			.sub-cluster {
				margin: 1em 0;
				label {
					text-align: left;
				}
				select {
					text-align: right;
				}
			}
		}
		#translate-wrapper {
			display: block;
			#translate-select {
				margin: 0 auto;
				max-width: 11em;
			}
		}
	}
	#form-channel-search {
		margin-top: 1.5em;
	}
	#save-search-wrapper {
		margin: 1em;
	}
	#video-search-wrapper {
		margin-bottom: 1em;
	}
	.btn-clear-select, .btn-toggle-map {
		margin: 0 0 1em 0;
	}

}

.channel-filter {
	margin: 1em 0;
	img {
		width: 5em;
	}
}

//Results

.results {
	margin: 2em 0;
	h2, h3, .result-dir, .results-img-container {
		text-align: center;
	}

	h2 {
		font-size: 1.5em;
	}
	.results-row {
		margin: 1em 0;
	}
	.result-mobile {
		display: block;
		padding-bottom: 2em;
		p {
			text-align: center;
		}
	}
	.result-desktop {
		display: none;
	}
	.inner-result {
		background-color: rgb(236, 236, 236);
		box-shadow: 0px 1px 3px 0px;
		border-color: rgba(0, 0, 0, 0.58);
		border-width: 1px 2px 0 2px;
		.tit-descrip-container {
			z-index: 1;			
			.playlist-button-wrapper, .outer-wrapper {
				text-align: center;
				position: relative;
			}
			.result-chan-wrapper {
				display: inline-block;
				padding: 1em;
				border: 1px solid white;
				border-radius: 0.5em;
			}
			.playlist-button-wrapper {
				margin: 1em;
			}
		}
		p {
			overflow-x: scroll;
		}
		h3, p {
			color: rgba(0, 0, 0, 1);
		}
		h3 {
			font-size: 1.4em;
			font-weight: bold;
		}
		img {
			float: none;
			cursor: pointer;
			margin:  2em 0;
			height: 100%;
			width: 50%;
		}
	}
	.last > .inner-result {
		border-bottom-width: 2px;
	}
	.first > .inner-result {
		border-top-width: 2px;
	}
	transition: 1s linear all;
}

.search-order-arrow-container {
	text-align: center;
	span {
		margin: 0 0.25em;
	}
	.my-arrow {
		font-size: 1.5em;
		cursor: pointer;
	}
}

.page-selector-container {
	position: relative;
	#page-selector {
		color: rgba(39, 174, 96, 0.7);
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9999;
		height: 2.3em;
		background-color: #F8F8F8;
		display: flex;
		flex-direction: column;
		justify-content: center;
		#prev-page, #next-page {
			font-size: 1em;
			padding: 0.2em;
		}
		#prev-page-section, #next-page-section {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		#next-page-section, {
			text-align: right;
			#label-next {
				padding-top: 0.4em;
			}
		}
		label {
			margin: 0 0.5em;
			font-size: 0.7em
		}
	}
}
.fixed-page-selector {
	position: fixed;
}

#channel-scroll-btn-bar {
	color: rgba(39, 174, 96, 0.7);
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	height: 2em;
	width: 10%;
	margin: 0 auto;
}

@media screen and ($mobile3){
	#map-hud {
		span {
			font-size: 1em;
		}
	}
	.results {
		#page-selector {
			#prev-page, #next-page {
				font-size: 1.5em;
			}
		}
	}
}
@media screen and ('min-width: 462px'){
	#advanced-search {
		#form-advanced-video-search{
			#translate-wrapper {
				text-align: left;
				.sub-cluster {
					display: inline-block;
					margin-left: 0.5em;
					text-align: center;
				}	
			}
		}
	}
} 

@media screen and ($tabletfix){
	.greeting-container {
		h3 {
			margin-left: 2.5em;
		}
	}
	#advanced-search {
		#form-advanced-video-search{
			#translate-wrapper {
				#translate-select {
					max-width: 100%;
				}
			}
		}
	}
}

@media screen and ('min-width: 594px'){
	#advanced-search {
		#form-advanced-video-search{
			#translate-wrapper {
				display: inline-block;	
			}
		}
	}
} 

@media screen and ($search-params-tweakpoint){
	#advanced-search {
		#form-advanced-video-search {
			.cluster {
				.btn-reset-container {
					margin-top: -1em;
				}
			}
		}
	}
}

@media screen and ($tablet){
	.results {
		.result {
			h2 {
				font-size: 2em;
			}
		}
		.inner-result {
			
			p {
				overflow-x: auto;
			}
			img {
				margin: 2em 0;
			}
		}
	}
	.search-order-arrow-container {
		text-align: right;
		margin-right: 1em;
	}
}

@media screen and ('min-width: 786px'){
	#advanced-search {
		#form-advanced-video-search{
			#translate-wrapper {
				.sub-cluster {
					display: block;
				}	
			}
		}
	}
} 

@media screen and ($results-tweakpoint){
	.results {
		.inner-result {
			img {
				width: 60%;
			}
			.tit-descrip-container {
				.playlist-button-wrapper, .outer-wrapper {
					text-align: left;
				}
				.result-chan-descrip {
					display: inline-block;
				}
			}
		}
		.result-mobile {
			display: none;
		}
		.result-desktop {
			display: block;
		}
	}
}

@media screen and ($desktop){
	#bar {
		text-align: center;
	}
	
	#map {
		width: 60%;
		margin: 0 auto;
	}
	#form-search {
		margin: 2em;
		#btn-go {
			height: 1.9em;
			font-size: 0.8em;
		}
	}
	.button-wrapper {
		margin: 1em;
	}
	#advanced-search {
		margin-bottom: 3em;
		#form-advanced-video-search {
			display: inline;
		}
		#form-channel-search {
			display: inline-block;
			margin-top: 0;
		}
	}
	
	.results {
		#page-selector {
			#next-page {
				float: right;
			}
		}
		margin: 2em 0;
		h2, h3, .result-dir {
			text-align: center;
		}
		h2 {
			font-size: 1.5em;
		}
		transition: 1s linear all;
	}
}



