* {
	font-family: "Open Sans" sans-serif;
}

#content, #page-footer, input {
	font-size: 2em;
}

.active {
	color: beige;
	background-color: grey;
	font-weight: bold;
}

@media screen and ($tablet){
	
}

@media screen and ($desktop){
	#content, #page-footer, input {
		font-size: 1em;
	}
}