body {
	font-family: "Open Sans", sans-serif;
	.nav-tabs > li > .active {
		background-color: #f39c12;
		color: white;
		font-weight: bold;
	}
	.navbar-default .navbar-nav > li .active {
		color: #F39C12;
		font-weight: 600;
	}
	.emph {
		font-size: 1.2em;
	}

	.bold {
		font-weight: 600;
	}
}

@media screen and ($desktop){
	body{
		#content, #page-footer, input {
			font-size: 1em;
		}
	}
}