// Media Queries
$mobile1: 'max-width: 300px';
$mobile2: 'min-width: 320px';
$mobile3: 'min-width: 350px';
$mobile4: 'min-width: 364px';
$mobile5: 'min-width: 403px';
$mobile6: 'min-width: 455px';
$tabletfix: 'min-width: 525px';
$search-params-tweakpoint: 'min-width: 602px';
$tablet: 'min-width: 768px';
$results-tweakpoint: 'min-width: 994px';
$desktop: 'min-width: 1024px';
$mobilefix: 'max-width: 768px';

$buttontext: #777;
$hoveredtext: #333;

