// Media Queries
$mobile1: 'max-width: 300px';
$mobile2: 'min-width: 320px';
$mobile3: 'min-width: 350px';
$mobile4: 'min-width: 364px';
$tabletfix: 'min-width: 525px';
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';

$mobilefix: 'max-width: 768px';