
#video {
	.view-area-header, .video-title, p {
		text-align: center;
	}
	#item {
		margin-top: 3em;
		margin-bottom: 15em;

		
	}
	.view-area-header {
		font-family: "Courgette", serif;
	}

	.video-title {
		margin: 1em;
		font-weight: bold;
	}

	.remove-video-container {
		margin: 1em;
		text-align: center;
	}

	.channel-info {
		text-align: center;
		margin: 0.5em;
	}

	.channel-title {
		display: inline-block;
		margin-right: 1em;
	}

	iframe {
		display: block;
		margin: 0 auto;
		width: 100%;
		resize: both;
	}

	#choices-wrapper {
		display: block;
		text-align: center;
	}	
}


@media screen and ($desktop){
	#video {
		.view-area-header {
			font-size: 3em;
		}
		iframe {
			width: 50%;
		}
	}
}