
#video {
	.view-area-header, .video-title, .video-notify, p, .remove-video-container, .channel-info {
		text-align: center;
	}

	.video-title, .remove-video-container, .video-info-row {
		margin: 1em;
	}

	#item {
		margin-top: 3em;
		margin-bottom: 15em;		
	}

	.video-title {
		font-weight: bold;
	}

	.video-info-label {
		display: inline-block;
		margin-right: 1em;
	}

	.video-desc {
		clear: both;
		padding: 1em;
		border-top: 1px solid $border-grey;
	}

	iframe {
		display: block;
		margin: 0 auto;
		width: 100%;
		resize: both;
	}
}

@media screen and ($tablet){
	#video {
		p, .remove-video-container, .channel-info {
			text-align: left;
		}
		.video-info-row {
			margin: 1em 0;
		}
	}
}

@media screen and ($desktop){
	#video {
		.view-area-header {
			font-size: 3em;
		}
		.video-info-container {
			margin: 0 12em;
		}
		iframe {
			width: 50%;
		}
	}
}