
#video {
	.view-area-header, .video-title, p {
		text-align: center;
	}

	.video-title, .remove-video-container, .video-info-row {
		margin: 1em;
	}

	#item {
		margin-top: 3em;
		margin-bottom: 15em;

		
	}
	.view-area-header {
		font-family: "Courgette", serif;
	}

	.video-title {
		
		font-weight: bold;
	}

	.remove-video-container {
		text-align: center;
	}

	.channel-info {
		text-align: center;
	}

	.video-info-label {
		display: inline-block;
		margin-right: 1em;
	}

	.video-desc {
		clear: both;
	}

	iframe {
		display: block;
		margin: 0 auto;
		width: 100%;
		resize: both;
	}

	#choices-wrapper {
		display: block;
		text-align: center;
	}	
}

@media screen and ($tablet){
	#video {
		.video-info-row {
			margin: 1em 7em;
		}
	}
}

@media screen and ($desktop){
	#video {
		.view-area-header {
			font-size: 3em;
		}
		iframe {
			width: 50%;
		}
	}
}